[hub]
        protocol = https
[user]
        name = Louis Dionne
        email = ldionne.2@gmail.com
[includeIf "gitdir:~/work/"]
        path = .gitconfig-work
[alias]
        co = checkout
        promote = !git-promote
        wtf     = !git-wtf
        count   = !git shortlog -sn
        unstage = reset HEAD
        submodule-rm = !git-submodule-rm
        addnw = !sh -c 'git diff -U0 -w --no-color "$@" | git apply --cached --ignore-whitespace --unidiff-zero -'
        files-changed = !git diff-tree --no-commit-id --name-only -r HEAD
        shorten = !git rev-parse --short
[color]
        diff = auto
        status = auto
        branch = auto
        ui = true
[core]
        excludesfile = ~/.gitignore
[apply]
        whitespace = nowarn
[mergetool]
        keepBackup = false
[difftool]
        prompt = false
[diff]
        renameLimit = 2000
[help]
        autocorrect = 1
[push]
        # See `git help config` (search for push.default)
        # for more information on different options of the below setting.
        #
        # Setting to git 2.0 default to surpress warning message
        default = simple
	autoSetupRemote = true
[pull]
        ff = only
[rebase]
        autosquash = true
[credential]
	helper = osxkeychain
